*{
    margin: 0px;
    padding: 0px;
    font-family: 'Tahoma';
}

body{
    display: flex;
    height: 100vh;
}

#box-all{
    margin: auto;
    text-align: center;
}

#box-game{
    margin: 0 auto;
    margin: 10px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 7px;
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.762);
}

.red{
    background-color: red;
}

.light-yellow{
    background-color: rgb(255, 228, 192);
}

td{
    font-weight: 900;
    font-size: 30pt;
    border-radius: 5px;
    color: rgb(213, 213, 213);
    text-shadow: 3px 5px 3px rgba(0, 0, 0, 0.7);
    width: 100px;
    cursor: default;
}
