*{
    margin: 0px;
    padding: 0px;
    font-family: 'Tahoma';
}

body{
    display: flex;
    height: 100vh;
}

#box-all{
    margin: auto;
    text-align: center;
}

.red{
    background-color: red;
}

.light-yellow{
    background-color: rgb(255, 228, 192);
}

#box-game {
    margin: 0 auto;
    margin: 10px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.762);
  }
  
  td {
    font-weight: 900;
    font-size: 30pt;
    border-radius: 5px;
    color: rgb(213, 213, 213);
    text-shadow: 3px 6px 3px rgba(0, 0, 0, 0.7);
    vertical-align: middle;
    cursor: default;
  }
  
  /* Estilos para telas menores que 600px de largura (3x3) */
  @media screen and (max-width: 600px) {
    #box-game {
      width: 300px;
      height: 300px;
    }
  
    td {
      font-size: 20pt;
      width: 100px;
      height: 100px;
    }
  }
  
  /* Estilos para telas maiores que 600px de largura (4x4) */
  @media screen and (min-width: 601px) {
    #box-game {
      width: 400px;
      height: 400px;
    }
  
    td {
      font-size: 30pt;
      width: 92.89px;
      height: 92.89px;
    }
  }
  